<div class="contain">
    <div>
      <input type="text" [(ngModel)]="newRoom" placeholder="Enter room ID">
      <input type="text" [(ngModel)]="userName" placeholder="Enter your name">
      <button class="join_btn" (click)="joinRoom()" mat-raised-button color="accent">JOIN</button>
    </div>
    <div>
      <input class="send_input" type="text" [(ngModel)]="newMessage" placeholder="Enter Message">
      <button class="send_btn" (click)="sendMessage()" mat-icon-button>send</button>
    </div>
  </div>

<div class="chatContainer">
  <div class="chatbox">
    <div [ngClass]="m.from === userName ? 'yourPov' : 'otherPov'" *ngFor="let m of message">
      <div class="messContain">
          <div [ngClass]="{'my_username': m.from === userName}" class="user">{{m.from}}:</div>
        </div>
        <div [ngClass]="{'my_msg': m.from === userName}" class="messContain">  {{m.msg}}</div>
      </div>
    </div>
</div>

